.header {
  padding-top: 45px;
  &__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__nav {
    margin-left: 505px;
    display: flex;
    align-items: center;
    gap: 70px;
    &-link {
      font-family: var(--title-font);
      font-weight: 400;
      color: #2C3638;
      font-size: 20px;
      transition: all 0.5s;
      &:hover {
        color: #df923a;
      }
    }
  }
  &__btn {
    margin-left: 113px;
    text-align: center;
    text-transform: uppercase;
    width: 218px;
    height: 70px;
    background: #2F393B;
    border-radius: 2px;
    color: (#ffffff);
    font-family: 'Bayon';
    font-weight: 400;
    transition: all 0.5s;
    &:hover {
      background-color: #df923a;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #2C3638;
  transition: all 0.5s;
  &:hover {
    color: #df923a;
    .logo-img {
      transition: all 0.5s;
      rotate: 50deg;
    }
  }
}
.burger {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  &__item {
    height: 3px;
    width: 45px;
    background-color: #2C3638;
  }
}
@media (max-width: 1400px) {
  .header__nav {
    margin-left: 0px;
  }
  .header__inner {
    justify-content: space-between;
  }
}

@media (max-width: 992px) {
  .header__nav {
    display: none;
  }
  .header__btn {
    display: none;
  }
  .burger {
    display: flex;
  }
}