.modal-form {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 350px;
  background-color:#2C3638;
  border-radius: 20px;
  z-index: 20;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  transition: all 0.2s;
  &__close {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 21px;
      left: 10px;
      width: 26px;
      height: 4px;
      background: #fff;
    }
    &:before {
      webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:after {
      webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
  &__input {
    padding: 5px 10px;
    border: none;
    background-color: inherit;
    border-bottom: 1px solid rgba(246, 245, 243, 0.3);
    color: #fff;
    &::placeholder {
      font-family: 'Bayon';
      font-weight: 400;
      font-size: 18px;
      line-height: 33px;
      color: #FFFFFF;
    }
  }
  &__btn {
    width: 218px;
    height: 70px;
    background: #DF923A;
    border-radius: 2px;
    font-family: 'Bayon';
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    &:hover {
      background-color: #F6F5F3;
      color: #2C3638;
    }
  }
}

.modal-active {
  visibility: visible;
}