.promo {
  &__inner {
    position: relative;
    padding-top: 332px;
    display: flex;
    align-items: center;
    gap: 122px;
  }
  &__subtitle {
    margin-top: 4px;
    margin-left: 20px;
    font-family: 'Bayon';
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #DF923A;
  }
  &__title {
    margin-top: 28px;
    margin-left: 20px;
    width: 870px;
    font-family: 'Bayon';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 172px;
    color: #2C3638;
    &_decor {
      color: #DF923A;
    }
    &_large {
      font-size: 228px;
    }
  }
  &__hero-img {
    position: absolute;
    top: 107px;
    right: 20px;
    z-index: -1;
  }
  &__content {
    padding-top: 105px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 310px;
    color: rgba(#2C3638,0.7);
  }
  &__social {
    display: flex;
    gap: 30px;
    &-link {
      font-family: 'Bayon';
      font-weight: 400;
      font-size: 20px;
      line-height: 36px;
      color: #2C3638;
    }
  }
}

@media (max-width: 1400px) {
  .promo__inner {
    gap: 0px;
  }
  .promo__hero-img {
    width: 80%;
  }
  .promo__title {
    font-size: 120px;
    &_large {
      font-size: 178px;
    }
  }
}

@media (max-width: 1240px) {
  .promo__inner {
    padding-top: 250px;
  }
  .promo__title {
    font-size: 100px;
    line-height: 135px;
    &_large {
      font-size: 158px;
    }
  }
  .promo__hero-img {
    top: 60px;
  }
  .promo__content {
    padding-top: 150px;
    margin-left: -120px;
  }
}

@media (max-width: 1100px) {
  .promo__inner {
    padding-top: 230px;
  }
  .promo__title {
    font-size: 70px;
    line-height: 85px;
    &_large {
      font-size: 128px;
    }
  }
  .promo__content {
    margin-left: -320px;
  }
}

@media (max-width: 992px) {
  .promo__hero-img {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .promo__inner {
    padding-top: 90px;
  }
  .promo__content {
    display: none;
  }
  .promo__title {
    color: #df923a;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .promo__hero-img {
    display: none;
  }
  .promo__inner {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .promo__title {
    color: #2C3638;
    max-width: 430px;
  }
  .promo__content {
    display: flex;
    margin-left: 1.6em;
    padding-top: 0;
  }

}

@media (max-width: 480px) {
  .promo__inner {
    padding-top: 50px;
  }
  .promo__title {
    font-size: 50px;
    line-height: 65px;
    max-width: 300px;
    &_large {
      font-size: 108px;
    }
  }
}

@media (max-width: 360px) {
  .promo__title {
    font-size: 40px;
    line-height: 55px;
    max-width: 300px;
    &_large {
      font-size: 68px;
    }
  }
  .promo__text {
    width: 270px;
  }
}